body{  
    background-color: #302c3287
  }  
.heading{
    width: 447px;
    height: 46px;
    border: 1px solid #eae3e1;
    padding-top: 11px;
    padding-left: 10px;
    padding-bottom: 14px;
    font-size: 25px;
    font-weight: normal;
    margin-top: 1%;
    margin-left: 1%;
    text-align: left;
}