.heading{
    background-color:#e91e6340;
    width: 321px;
    height:101px;
    border:10px solid #8b8887;
    padding-top: 11px;
    margin:auto;
    font-size:25px;
    font-weight: normal;
    margin-top:10%;
    text-align: left;
}
.line{
    width: 414px;
    background-color: #9e9e9e;
    border: 3px solid #8b8887;
    margin:auto;
    margin-top:10%;
    text-align: left;
}