.box{
    width: 173px;
height: 109px;
background-color: rgb(255, 255, 255);
margin-left: 116px;
margin-top: 22px;
text-indent: 10px;
} 
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.box2{
    width: 133px;
height: 109px;
background-color: rgb(254, 253, 253);
margin-left: 316px;
margin-top: 10px;
text-align: right;
}
.cost{
    color: chocolate;
}
.button{
    width: 46px;
    height: 29px;
    padding-left: 1px;
    margin-left: 10px;
    margin-top: 10px;
}
.add{
    width: 101px;
height: 34px;
border-radius: 52px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: chocolate;
    color:aliceblue
}
@media screen and (min-width:48px) {
    .grid{
    display: grid;
    grid-template-columns: auto;
}
}
@media screen and (min-width:768px) {
    .grid{
    display: grid;
    grid-template-columns: auto auto;
}
}
@media screen and (min-width:992px) {
    .grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
}
