body{  
    background-color: #459c9b;
  }  
.form{  
    padding: 50px;  
    background-color: #f85e5e; 
    width: 1px;
    margin-right: 50%;
    padding-top: 11px;
    margin-left: 408px;
    padding-bottom: 10px;
    margin:auto;
}  
.button {
    background-color:#0ba5ee;
    border-radius: 6px;
    color:white;
    width: 63px;
    height: 32px;
    }
.box{
    width: 171px;
    height: 34px;
}
img {
    display: table-column;
    margin-right: 10px;
    margin:10px;
  }
