.btn-warning{
    border-radius: 23px;
}
.image{
    background-image: url('lib.jpg');
  }
  .heading{
    background-color: #f7eeee;
    width: 535px;
    height: 414px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5%;
  }
  .book{
    width: 80px;
    height: 91px;
    margin-right: 371px;
    margin-top: -90px;

  }
  .btn{
      margin-top: 5%;
      background-color: chocolate;
      color:antiquewhite;
      width: 87px;
    height: 29px;
  }
  .username{
    margin-top: 91px;
    
  }
  .password{
    margin-left: 59px;
    
  }
  .fa-search-plus{
   
    margin-left: 10px;
    
  }